// fonts
$font-family: "Open Sans", sans-serif;
$second-family: "Montserrat", sans-serif;
$third-family: "Inter", sans-serif;

// colors
$primary-color: #FFFFFF;
$secondary-color: #FCFCFD;
$button-primary: #0078cf;
$text-color: #2e3238;
$icon-blue: #005999;
$border-color-light: #d5d8dd;
$placeholder-color: #abb1ba;

// sizes
$header-height: 49px;
$sidebar-open: 336px;
$sidebar-close: 57px;
$padding-xxs: 6px;
$padding-xs: 8px;
$padding-sm: 10px;
$padding-md: 12px;
$padding-lg: 16px;
$icon-size-small: 16px;
$icon-size-medium: 32px;
$icon-size-large: 56px;
$gap-sm: 4px;
$gap-md: 8px;
$gap-lg: 16px;
$font-sm: 14px;

